{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'modal.css' %}">
</head>
<body>
    <div class="inner-content">
		<div class="inner-wrapper">
			<div class="picture-blog">
				<h1 class="picture-blog-name">OROL BALIQLARI</h1>
				<img src="{{ hayvon.img.url }}" alt=".....">
			</div>
			<div class="comment-blog">
				<div class="blog">
                    <h3>Nomi</h3>
                    <p>{{hayvon.nomi}}</p>
                </div>
				<div class="blog">
                    <h3>Maqomi</h3>
                    <p>{{hayvon.maqomi}}</p>
                </div>
				<div class="blog">
                    <h3>Tarqalishi</h3>
                    <p>{{hayvon.tarqalishi}}</p>
                </div>
				<div class="blog">
                    <h3>Yashash Joylari</h3>
                    <p>{{hayvon.yashash_joylari}}</p>
                </div>
				<div class="blog">
                    <h3>Soni</h3>
                    <p>{{hayvon.soni}}</p>
                </div>
				<div class="blog">
                    <h3>Yasash Tarzi</h3>
                    <p>{{hayvon.yashash_tarzi}}</p>
                </div>
				<div class="blog">
                    <h3>Ko'paytirish Holati</h3>
                    <p>{{hayvon.kupaytirish}}</p>
                </div>
				<div class="blog">
                    <h3>Muhofaza choralari</h3>
                    <p>{{hayvon.choralari}}</p>
                </div>

			</div>
		</div>
	</div>
</body>
</html>